.cardContainer {
	border: 3px solid black;
	display: flex;
	align-items: center;
	text-decoration: none;
	box-shadow: 4px 4px gray;
	background-color: whitesmoke;
   	flex-direction: column;
	margin-left: 3%;
	margin-right: 3%;
}

.image {
	display: flex;
	width: 4em;
	max-width: 4em;
	height: 4em;
	padding-top: 5%;
}


.cardContents{
	padding-left: 10%;
	padding-right: 10%;
}
