.nav {
	display: flex;
	list-style-type: none;
	text-decoration: none;
	padding: 2rem 2rem 2rem 1rem;
	width: 20rem;
	background-color: rgb(221, 246, 205);
    justify-content: center;
}

.home,
.about,
.settings {
	text-decoration: none;
	color: var(--black);
	margin-right: 2rem;
	margin-left: 0.5rem;
	white-space: nowrap;
}
