.cardList {
	justify-content: space-evenly;
	display: flex;
	list-style-type: none;
}

.list {
	list-style-type: none;
}

.aboutPage {
	background-color: rgb(162, 202, 173);
	width: 100vw;
	height: 100vh;
}

.cardOne {
    padding-bottom: 2rem;
}