.cardContainer {
	border: 3px solid black;
	display: flex;

	align-items: center;
	text-decoration: none;
	box-shadow: 4px 4px gray;
	background-color: whitesmoke;
}
.image {
	display: flex;
	flex-grow: inherit;
}
.cardContainer {
	display: flex;
	flex-direction: column;
}
